#im{
    background-image: url(code2.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.d{
    display: flex;
    flex-direction: column;
}


.i{
    width: 20px;
    height: 20px;
}
figure{
    display: flex;
    justify-content: space-around; 
  
}
.i2{
    width: 300px;
    height: 400px;
}